<div class="container-fluid" style="margin-top:10px;">
    <div class="header" style="border:solid;padding:0 10px 10px 10px;">
        <h2>Employee Management</h2>
        <div class="header-right" style="text-align:right">

              <div class="dropdown">
                <button class="dropbtn">Welcom {{user.name}}</button>
                <div class="dropdown-content">
                  <a href="">Edit</a>
                  <a href="#" (click)="logoutSession()">Logout</a>
                
                </div>
              </div>
        </div>
      </div>
    <div class="row">
    <div class="column" style="float:left;width:20%;padding-left:10px;margin-left: 16px;text-align:justify;"><br>
        <div class="dropdown" style="text-decoration:none;" >
            <a class="dropdown-toggle" data-toggle="dropdown" >Leave</a>
            <span class="caret"></span>
            <ul class="dropdown-menu">
              <li><a href="applyleave">Apply Leave</a></li>
              <li><a href="leavestatus">Leave Status</a></li>
            </ul>
          </div><br>
          <div>
            <a href="attendance">Attendance</a>
          </div><br>
          <div>
            <a href="salary">Salary</a>
          </div><br>
    </div>
    <div class="column" style="clear:both;width:75%;">
    <div class="container" style="margin-top:10px;">
    <div class="card jumbotron" style="text-align:center;display: inline-flexbox;">
        <h4>Attendance</h4>
        <div style="display:inline;">
            <button class="btn btn-success" style="width:50%;">Start Day</button>
            <br>
            <button class="btn btn-danger" style="width:50%;">End Day</button>
        </div>
    </div>
    <div class="container card" style="background-color:rgb(215, 244, 241);margin-bottom:10px;padding:10px;">
        <h4>Emplyee Details</h4>
        <div  class="row" style="display:inline-flexbox;">
            <div class="column" style="width:50%;padding-left:15px;">
                Name:  {{user.name}}<br>
                Mobile: {{user.mobile}}<br>
                Email: {{user.email}}  <br>
                Gender: {{user.gender}}<br>
            </div>
            <div   class="column">
            DOB: {{user.dob}}   <br>
            DOJ: {{user.doj}}  <br>
            Designation: {{user.designation}}   <br>
            Schedule: {{user.schedule}} <br>
            </div> 
        </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>

  